/* - FONTS - */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); /* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /* font-family: 'Open Sans', sans-serif; */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* - VARIABLES - */
:root {
    /* - COLOUR VARIABLES - */

    --violet: hsl(257, 40%, 49%);
    --softMagenta: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);

    /* - SCREEN SIZES - */
    --mobile: 375px;
    --desktop: 1440px;

    /* - FONT SIZES - */

    /* - PAGE MAX WIDTHS - */


}

/* - TAGS - */
html {
    font-size: 1rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--violet);
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 1.6875rem;
}
/*--------------------------------------------*/

/* - CLASSES - */

.container {
    width: 80%;
    max-width: var(--mobile);
    margin: 0 auto;
}

/* -- HEADER START -- */
.header {
    width: 100%;
    height: 100%;
    background-image: ('./images/bg-mobile.svg');
    background-size: cover;
}

.header__logo {
    margin-top: 2.375em;
    margin-bottom: 4.375em;
}

.logo-img {
    max-width: 10.0625em;
}

.header__hero {
    margin-bottom: 4.375em;
}

.hero-img {
    max-width: 18.5em;
}
/* -- HEADER END -- */

/* -- BODY START -- */

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}

.body__title {
    color: var(--white);
    text-align: center;
    margin-bottom: 1.75em;
}

.body__description {
    font-size: 1rem;
    text-align: center;
    color: var(--white);
    margin-bottom: 1.625em;
}

.body__register__btn {
    width: 12.5em;
    height: 2.5em;
    background-color: var(--white);
    border: none;
    border-radius: 1.5625em;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--violet);
}
/* -- BODY END -- */

/* -- FOOTER START -- */
.footer .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
}

li:not(:first-child) {
    margin-left: 1em;
}

.footer__social__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0.75em;
    height: 0.75em;
    padding: 0.875em;
    border: 0.125em solid white;
    border-radius: 50%;
    color: var(--white);
    margin-bottom: 2.5em;
}

.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
    color: var(--white);
}
.attribution a { 
    color: var(--softMagenta); 
}